body {
  margin-top: 100px;
}

h3, nav {
  font-variant: small-caps;
}

nav {
  font-weight: 600;
}

a:focus {
  outline: 0;
}

table.tasks.table > tbody > tr > td {
  padding: 15px;
}

.task-btn {
  width: 115px;
}

#unique-tasks, #recurring-tasks {
  margin-bottom: 100px;
}

.btn-expand {
  color: black;
}
