body {
  margin-top: 100px;
  background-color: rgb(245, 245, 245);
}

nav {
  font-variant: small-caps;
}

h3 {
  font-weight: 600;
}

small {
  font-style: italic;
}

.navbar-default .navbar-nav > li > a{
  color: silver;
}

.navbar .navbar-brand:hover {
  color: inherit;
}

.navbar .navbar-default,
.navbar .navbar-brand,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: rgb(56, 64, 71);
  color: white;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  font-weight: 600;
  color: inherit;
}

.uq-edit, .rec-edit {
  background-color: #913B53;
  border: 1px solid #913B53;
}

.uq-edit:hover, .rec-edit:hover {
  background-color: #753043;
  border: 1px solid #913B53;
}

#start-sprint-btn {
  margin: 0 auto 20px;
  display: block;
}

#unique-tasks, #recurring-tasks {
  margin-bottom: 100px;
}

.task-btn {
  font-size: 13px;
  overflow: hidden;
  min-width: 60px;
}

.task {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  vertical-align: middle;
}

.task-description {
  margin-top: 6px;
}

.task:last-child {
  border: none;
  padding-bottom: 0;
}

.task:first-child {
  padding-top: 0;
}

.btn-expand {
  color: black;
}

.input-group-addon {
  padding: 0px 12px;
}


div.panel-heading.task-heading {
  background-color: white;
}

.alert {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
}
