<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="application.css" rel="stylesheet">
    <%= yield_content :css %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">STLD!</a>
          <ul class="nav">
            <li><a href="#">This week</a></li>
            <li><a href="#">All tasks</a></li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield_content :body %>
    <script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <%= yield_content :scripts %>
  </body>
</html>
