<tr>
  <td>
    <%= name %>
  </td>
  <td>
    <% if done %><i class="icon-ok"></i><% end %>
  </td>
  <td>
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn<%= ' active' unless done %>">Not Done</button>
      <button type="button" class="btn btn-success <%= ' active' if done %>">Done</button>
  </td>
  <td>
    Every <%= frequency %> week(s)
  </td>
</div>
