<% content_for :body do %>
  <link href="css/tasks.css" rel="stylesheet">
<% end %>

<% content_for :body do %>
  <div class="container">
    <h1>Tasks</h1>
    <h2>Recurring</h2>
    <button class="btn add-task"><i class="icon-plus"></i> Add task</button>
    <table class="table">
      <% RecurringTask.enabled.each do |task| %>
        <%= erb :edit_recurring_task, locals: {
          task: task
        } %>
      <% end %>
    </table>
  <h2>Unique</h2>
  <button class="btn add-task"><i class="icon-plus"></i> Add task</button>
  <table class="table">
    <% UniqueTask.all.each do |t| %>
      <%= erb :edit_unique_task, locals: {
        task: task
      } %>
    <% end %>
  </table>
  </div>
<% end %>
