button.show-task-form,
button.hide-task-form
{
  margin-bottom: 15px;
}

button.hide-task-form {
  display: none;
}

form.task-form {
  display: none;
}

form.task-form input[name="description"] {
  width: 400px;
}

form.task-form select[name="frequency"] {
  width: 200px;
}
