<% content_for :body do %>
  <div class="container">
    <h1>This week</h1>
    <div class="row">
      <div class="span6">
        <h2>Recurring</h2>
        <table class="table">
          <% RecurringTask.active.each do |task| %>
            <% if task.due_this_week? %>
              <%= erb :"home/show_task", locals: {
                type: :recurring,
                task: task } %>
            <% end %>
          <% end %>
        </table>
      </div>
      <div class="span6">
        <h2>Unique task</h2>
        <table class="table">
          <% UniqueTask.active.each do |task| %>
            <%= erb :"home/show_task", locals: {
              type: :unique,
              task: task } %>
          <% end %>
        </table>
      </div>
    </div>
    <% if DateHelpers.sunday %>
      <div class="alert">
        <strong>Hurry up!</strong> You have one day left to finish all your tasks.
      </div>
    <% end %>
  </div>
<% end %>
