<% content_for :body do %>
  <div class="container">
    <h1>Current sprint</h1>
    <h3>Week <%= Sprint.current.week %> - <%= Sprint.current.year %></h3>
    <div class="row">
      <div class="span6">
        <h2>Unique task</h2>
        <table class="table">
          <% UniqueTask.active.order(:id).each do |task| %>
            <%= erb :"home/show_task", locals: {
              type: :unique,
              task: task } %>
          <% end %>
        </table>
      </div>
      <div class="span6">
        <h2>Recurring</h2>
        <table class="table">
          <% RecurringTask.active.order(:id).each do |task| %>
            <%= erb :"home/show_task", locals: {
              type: :recurring,
              task: task } %>
          <% end %>
        </table>
      </div>
    </div>
    <% if Sprint.current.overdue? %>
      <div class="row">
        <div class="span5 offset5">
          <form action="/start_new_sprint", method="post">
            <button class="btn btn-primary">Start new sprint</button>
          </form>
        </div>
      </div>
    <% end %>
    <% if DateHelpers.sunday? %>
      <div class="alert">
        <strong>Hurry up!</strong> You have one day left to finish all your tasks.
      </div>
    <% end %>
  </div>
<% end %>
