<div>
  <% action = id == "creation" ? "unique_task" : "unique_task/#{id}" %>
  <form action="<%= action %>" method="post" class="form-inline task-form" id="unique-task-form-<%= id %>">
  <% unless id == "creation" %>
      <input name="_method" type="hidden" value="put"/>
  <% end %>
    <input name="description" type="text" class="input-small" placeholder="Description">
    <% if id == "creation" %>
      <label class="checkbox">
        <input type="checkbox" name="todo"> Affect to this sprint
      </label>
    <% end %>
    <button type="submit" class="btn btn-success">OK</button>
  </form>
</div>
