<button class="btn" id="display-unique-task-form"><i class="icon-plus"></i> Create task</button>
<button class="btn" id="hide-unique-task-form"><i class="icon-minus"></i> Cancel</button>
<form action="unique_task" method="post" class="form-inline" id="create-unique-task-form">
  <input name="description" type="text" class="input-small" placeholder="Description">
  <button type="submit" class="btn btn-success">OK</button>
</form>
