<div>
  <% action = id == "creation" ? "recurring_task" : "recurring_task/#{id}" %>
  <form action="<%= action %>" method="post" class="form-inline task-form" id="recurring-task-form-<%= id %>">
  <% unless id == "creation" %>
      <input name="_method" type="hidden" value="put"/>
  <% end %>
    <input name="description" type="text" class="input-small" placeholder="Description">
    <select name="frequency" id="frequency">
      <% [1,2,3,4].each do |f| %>
        <option value="<%= f %>">Repeat every <%= f == 1 ? "week" : "#{f} weeks" %></option>
      <% end %>
    </select>
    <% if id == "creation" %>
      <label class="checkbox">
        <input type="checkbox" name="enabled" checked> Enable
      </label>
    <% end %>
    <button type="submit" class="btn btn-success">OK</button>
  </form>
</div>
