<% content_for :css do %>
  <link href="css/tasks.css" rel="stylesheet">
<% end %>

<% content_for :body do %>
  <div class="container">
    <%= erb :"tasks/notifications" %>
    <h1>Tasks</h1>
    <h2>Recurring</h2>
    <%= erb :"tasks/task_list", locals: {
      task_type: 'recurring',
      task_class: RecurringTask
    } %>
    <h2>Unique</h2>
    <%= erb :"tasks/task_list", locals: {
      task_type: 'unique',
      task_class: UniqueTask
    } %>
<% end %>

<% content_for :scripts do %>
  <script src="js/tasks.js"></script>
<% end %>
