<% content_for :css do %>
  <link href="css/tasks.css" rel="stylesheet">
<% end %>

<% content_for :body do %>
  <div class="container">
    <%= erb :"tasks/notifications" %>
    <h1>Tasks</h1>
    <h2>Recurring</h2>
    <%= erb :"tasks/form" %>
    <table class="table">
      <% RecurringTask.all.each do |task| %>
        <%= erb :"tasks/show_recurring", locals: {
          task: task
        } %>
      <% end %>
    </table>
  <h2>Unique</h2>
  <button class="btn create-task"><i class="icon-plus"></i> Create task</button>
  <table class="table">
    <% UniqueTask.all.each do |t| %>
      <%= erb :"tasks/show_unique", locals: {
        task: task
      } %>
    <% end %>
  </table>
  </div>
<% end %>

<% content_for :scripts do %>
  <script src="js/tasks.js"></script>
<% end %>
