require 'sequel'

db_name = case ENV['RACK_ENV']
          when "test"; "stld_test"
          when "development"; "stld"
          end



DB = Sequel.connect('postgres://stld:stld@localhost:5432/' + db_name)
