require 'sequel'

puts "WARNING: The RACK_ENV environment variable is not set. Assuming that the app is run in development mode." unless ENV['RACK_ENV']

env = ENV['RACK_ENV'] || "development"

db_name = case env
          when "test"; "stld_test"
          when "development"; "stld"
          else raise "no db address for this env"
          end

DB = Sequel.connect('postgres://stld:stld@localhost:5432/' + db_name)
